@use '../../styles/theme';

.wrapper {
  margin-bottom: 5px;
}

.title {
  font-size: xx-large;
  font-weight: bold;
  text-decoration: solid underline theme.$color-accent 4px;
}

.subtitle {
  font-size: x-large;
  font-weight: bold;
  text-decoration: solid underline theme.$color-accent 4px;
}
